# Gradle
.gradle/
build/
**/build/

# Local config (SDK path)
local.properties

# Android Studio
.idea/
*.iml

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Keystores
*.jks
*.keystore

# Node/React Native
node_modules/
npm-debug.log*
yarn-error.log*
.metro-cache/
.expo/
dist/
